{% extends "main.html" %}
{% block content %}
	<p class="padding-top">Please enter custom data</p>
	<form method="POST" action="/add">
		Title: <input type="text" name="title" required><br>
		Calories: <input type="text" name="calories"><br>
		Calories from fat: <input type="text" name="fat_cals"><br>
		Total Fat: <input type="text" name="total_fat"><br>
		Saturated Fat: <input type="text" name="saturated_fat"><br>
		Trans Fat: <input type="text" name="trans_fat"><br>
		Cholesterol: <input type="text" name="cholesterol"><br>
		Sodium: <input type="text" name="sodium"><br>
		Carbohydrates: <input type="text" name="carbohydrates"><br>
		Dietary Fiber: <input type="text" name="dietary_fiber"><br>
		Sugars: <input type="text" name="sugars"><br>
		Proteins: <input type="text" name="protein"><br>
		Vitamin A: <input type="text" name="vitamin_a"><br>
		Vitamin C: <input type="text" name="vitamin_c"><br>
		Calcium: <input type="text" name="calcium"><br>
		Iron: <input type="text" name="iron"><br>
		<input type="submit" value="Add">
	</form>	
{% endblock %}