{% extends "main.html" %}
{% block content %}
	<div class="row top-menu">
		<div class="col-md-6">
		</div>
		<div class="col-md-6 text-right">
			<div id="signinButton">
		      <span class="g-signin"
		        data-scope="openid email"
		        data-clientid="13140951618-15nik769cellkubaqnjk5facdib2dh4d.apps.googleusercontent.com"
		        data-redirecturi="postmessage"
		        data-accesstype="offline"
		        data-cookiepolicy="single_host_origin"
		        data-callback="signInCallback"
		        data-approvalprompt="force">
		      </span>
		    </div>
		 </div>
	</div>

	<div id="result"></div>
	<a href="{{url_for('addNew')}}" style="text-decoration: none;"><h1><button>Add an item!</button></h1></a>
	<h1>Foods</h1>>
	<table>
		{% for food in foods %}
			<tr>
				<td>
					<a href="{{url_for('moreInfo', id=food.id)}}">{{food.name}}</a>
				</td>
				<td>
					<form method="POST" action="./update">
						<input type="hidden" value="{{food.name}}" name="olditem">
						<input type="text" value="{{food.name}}" name="newitem">
						<input type="submit" value="Update">
					</form>
				</td>
				<td>
					<form method="POST" action="./delete">
							<input type="hidden" value="{{food.name}}" name="item">
							<input type="submit" value="Delete">
					</form>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}