{% extends "main.html" %}
{% block content %}
<p class="padding-top">Please enter custom data</p>
<h1>Name: {{item.name}}</h1>
<h3>Calories: {{item.calories}}</h3>
<h3>Calories from Fat: {{item.fat_cals}}</h3>
<h3>Total Fat: {{item.total_fat}}</h3>
<h3>Saturated Fat: {{item.saturated_fat}}</h3>
<h3>Trans Fat: {{item.trans_fat}}</h3>
<h3>Cholesterol: {{item.cholesterol}}</h3>
<h3>Sodium: {{item.sodium}}</h3>
<h3>Carbohydrates: {{item.carbohydrates}}</h3>
<h3>Dietary Fiber: {{item.dietary_fiber}}</h3>
<h3>Sugars: {{item.sugars}}</h3>
<h3>Protein: {{item.protein}}</h3>
<h3>Vitamin A: {{item.vitamin_a}}</h3>
<h3>Vitamin C: {{item.vitamin_c}}</h3>
<h3>Calcium: {{item.calcium}}</h3>
<h3>Iron: {{item.iron}}</h3>
{% endblock %}